<p id="notice"><%= notice %></p>
<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Items<span class="float-right" ><%= link_to new_center_item_path do %> <i class="fas fa-plus"></i> Add New<% end %>
            </span></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Quantity</th>
      <th>Collection center</th>
      <th>Item</th>
      <th >Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @center_items.each do |center_item| %>
      <tr>
        <td><%= center_item.quantity %></td>
        <td><%= center_item.collection_center.center_name %></td>
        <td><%= center_item.item.name %></td>
        <td><%= link_to center_item do%><i class="fas fa-eye" aria-hidden="true"></i><% end %>
          <%= link_to edit_center_item_path(center_item) do%><i class="far fa-edit" aria-hidden="true"></i><% end %>
          <%= link_to center_item, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash" aria-hidden="true"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



</div>
