<%= form_with(model: relief_camp_admin, local: true) do |form| %>
    <% if relief_camp_admin.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(relief_camp_admin.errors.count, "error") %> prohibited this relief_camp_admin from being saved:</h2>

          <ul>
            <% relief_camp_admin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <%= form.label :email %>
        <%= form.text_field :email %>

      </div>
      <div class="col-sm-6">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <%= form.label :password %>
        <%= form.text_field :password %>
      </div>
      <div class="col-sm-6">
        <%= form.label :password_confirmation %>
        <%= form.text_field :password_confirmation %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <%= form.label :relief_camp_id %>
        <%= form.collection_select(:relief_camp_id, ReliefCamp.all, :id, :camp_name) %>

      </div>
    </div>

    <div class="form-actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>
