<p id="notice"><%= notice %></p>
<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
              <%if collection_center_admin_signed_in? %>
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Requests<span class="float-right" ><%= link_to new_center_request_path do %> <i class="fas fa-plus"></i> Add New<% end %>
            </span></h6>
            </div>
            <% end %>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Status</th>
      <th>Quantity</th>
      <th>Item</th>
      <th>Collection center</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @center_requests.each do |center_request| %>
      <tr>
        <td><%= center_request.status %></td>
        <td><%= center_request.quantity %></td>
        <td><%= center_request.item.name %></td>
        <td><%= center_request.collection_center.center_name %>
        <td>
          <%if collection_center_admin_signed_in?%>
              <%= link_to center_request do%><i class="fas fa-eye" aria-hidden="true"></i><% end %>
              <%= link_to edit_center_request_path(center_request) do%><i class="far fa-edit" aria-hidden="true"></i><% end %>
              <%= link_to center_request, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash" aria-hidden="true"></i><% end %>
          <% elsif user_signed_in? && (center_request.status == 'open') %>
              <%= link_to accept_center_request_path(center_request), method: :post, data: { confirm: 'Are you sure?' } do%>ACCEPT<% end %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



</div>
