<!DOCTYPE html>
<html>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>

<head>
  <title>ALIVIO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <style>

  </style>

</head>

<body>
<div class="header"style="z-index: 5;position: relative">
  <nav class="navbar navbar-inverse"style="position: fixed;top:0;width:100%;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav " style="width: 100%;">
          <% if super_admin_signed_in? %>
              <li><%= link_to "HOME" ,root_path%></li>
              <li style="float:right;"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "ReliefCamps", relief_camps_path %></li>
              <li><%= link_to "CollectionCenters", collection_centers_path %></li>
              <li><%= link_to "Informations", notifications_path %></li>
              <li><%= link_to "ReliefCampAdmins", relief_camp_admins_path %></li>
              <li><%= link_to "CollectionCenterAdmins", collection_center_admins_path %></li>
              <li><%= link_to "InformationAdmins", information_admins_path %></li>
          <% end %>
          <% if user_signed_in? %>
              <li><%= link_to "HOME" ,user_index_path%></li>
              <li style="float:right;"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "Users", reliefcamp_users_path %></li>
              <li><%= link_to "ReliefCamps", relief_camps_path %></li>
              <li><%= link_to "CollectionCenters", collection_centers_path %></li>
              <li><%= link_to "Center Requests", center_requests_path %></li>
              <li><%= link_to "Informations", notifications_path %></li><% end %>
          <% if collection_center_admin_signed_in? || relief_camp_admin_signed_in? || information_admin_signed_in?  %>
            <li><%= link_to "HOME" ,root_path%></li>
              <li style="float:right;"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% end %>
          <% if information_admin_signed_in? %>
              <li><%= link_to "Informations", notifications_path %></li>
          <% end %>

        </ul>

      </div>

    </div>
  </nav>
  </div>

<!-- <div class="jumbotron text-center" style="margin-bottom:0 ">
<h2>Let's explore blogging</h2>
</div> -->



<%= yield %>
<marquee  style="font-family: lato;" bgcolor="#9b1c31" scrolldelay="200" width="100%"  height="50px">
  <% Notification.all.each do |i| %>
      <a href="<%= notification_path(i)%>" style="color: #ffffff; margin-left: 10px;font-size: 24px;"><%= i.title %>-<%= i.description %></a><font size="6" style="margin-left: 15px">*</font>
  <% end %>
</marquee>
<div class="footer">
  <h6>©ALIVIO.COM</h6>
</div>
</body>

</html>
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
